<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBM1Wh1m3H8mbj5-Dpka290fWy-0eYC59Q</string>
	<key>GCM_SENDER_ID</key>
	<string>964477735607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learningflutter.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-8c8cd</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-8c8cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964477735607:ios:8d407b6da79c7cfbe37332</string>
</dict>
</plist>